<!DOCTYPE html>
<html>
<head>
    <title>Style Transfer</title>
</head>
<body>
    <h1>Upload Content and Style Images</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="content_image">Content Image:</label>
        <input type="file" name="content_image"><br><br>
        
        <button type="submit">Style Image</button>
    </form>

    <form>
        <label for = "dropdown">Choose a style!</label>
        <select id = "dropdown" name = "options">
            


    </form>
    {% if styled_image %}
        <h2>Styled Image</h2>
        <img src="{{ styled_image }}" alt="Styled Image">
    {% endif %}
</body>
</html>