<!DOCTYPE html>
<html>
    <script>
        // Prevent the form from reloading the page
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('styleForm');
            form.addEventListener('submit', (event) => {
                event.preventDefault(); // Prevent default navigation
                form.submit(); // Submit the form to the backend
            });
        });
    </script>
<head>
    <title>Style Transfer</title>
</head>
<body>
    <h1>Upload Content and Style Images</h1>

    <form action = "/process_choice" method = "POST"> 
        <label for = "dropdown">Choose a style!</label>
        <select id = "dropdown" name = "options">
            <option value = "option1"></option>
            <option value = "option1">Style 1</option>
            <option value = "option2">Style 2</option>
            <option value = "option3">Style 3</option>
        </select>
        <br><br>
        <button type = "submit">Select Style</button>
    </form>
    <br><br>
    <br><br>

    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="content_image">Content Image:</label>
        <input type="file" name="content_image"><br><br>
        
        <button type="submit">Start Styling!</button>
    </form>

    {% if styled_image %}
        <h2>Styled Image</h2>
        <img src="{{ styled_image }}" alt="Styled Image">
    {% endif %}
</body>
</html>